<div class="row mt-5">
  <div class="col-12">
    <% @posts.each do |post| %>
      <div class="posts-index-item row align-items-center">
        <div class="post-left col-sm-3 col-md-2 float-left">
          <img src="<%= "/user_images/#{post.user.image_name}" %>" alt="" class="rounded-circle user-img">
        </div>
        <div class="post-right col float-left">
          <div class="post-user-name pb-1">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
          <p class="pt-0"><%= link_to(post.content, "/posts/#{post.id}") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
