// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f5f8fa;
}

ul, li {
  list-style: none;
}
p {
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
}

.item-bcolor {
  background-color: white;
}

.flash {
  padding: 10px 0;
  color: white;
  width: 100%;
  background: rgb(251, 170, 88);
  text-align: center;
  border-radius: 0 0 2px 2px;
  font-size: 14px;
}
